.section-principal{
    /* background-color: yellowgreen; */
    display: flex;
    padding: 0 5%;
    padding-top: 1%;
    margin-bottom: 100px;
    justify-content: center;
}

.menu-lateral-container{
    width: 20%;
}

.produtos-container{
    width: 70%;
}